.content-page{
  border: 0.2px solid rgb(208, 208, 208);
  width: 35%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  text-align: start;
  padding: 10px;

}

.atom-cagetory{
    margin-left: 0px;
    left : 0px;
}

#content-txt{
  height: 300px;
  width:100%;
  box-sizing: border-box
}

h1{
    margin-bottom: 0px;
}

div {
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea{
  border: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

textarea:focus {
    outline: none;
}

.edit-textarea {
    padding: inherit;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.edit-button {

}

.insert-title {
    text-align: left;
}

.insert-submit-button {
    position: absolute;
    right: 5px; 
    bottom: 5px;  
}

.insert-cancel-button {
    position: absolute;
    right: 75px; 
    bottom: 5px;  
}

.insert-select {
    position: absolute;
    left: 5px; 
    bottom: 5px;  
}

.insert-button-container{
    position: fixed;
    left: 5%;
}

.insert-atom {
    padding: 10px;
    border: 0.2px solid rgb(203, 203, 203);
    border-radius: 5px;
    background-color: white;
    width: 40%;
    margin: auto;
    height: 300px;
    position: relative;
}

.insert-container{
    width: 100%;
    height: 100%;
   position: fixed;
    z-index: 1;
    left: 0;
    backdrop-filter: blur(2px);
}









.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
