.content-page {
    box-shadow: 0px 0.5px 10px rgb(174, 174, 174);
    /*  border: 0.2px solid rgb(208, 208, 208); */
    width: 35%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    text-align: start;

    background-color: #F4E8DD;

}

.atom-main {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.atom-main>h2 {
    margin-top: 5px;
}

.content-panel {
    height: 25px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #A8673E;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.atom-cagetory {
    margin-left: 0px;
    left: 0px;
}

#content-txt {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F4E8DD;
}

.cagetory-button-container {
    position: fixed;
    left: 5%;
}

.cagetory-button {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.insert-select-edit {
    position: relative;
    display: inline;
}

button, input{
    border: 0.1px solid rgba(224, 224, 224, 0.947);
    border-radius: 5px;
    background-color: #ffffff;
    height: 30px;
    margin-right: 10px;
}

select {
    border: 0.1px solid rgba(224, 224, 224, 0.947);
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

button:hover {
    background-color: #cacaca;
}

h1 {
    margin-bottom: 0px;
}

div {
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea {
    border: none;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

textarea:focus {
    outline: none;
}

.insert-textarea {
    padding: inherit;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.edit-button {}

.insert-title {
    text-align: left;
}

.insert-cagetory-containter {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 100%;
    text-align: left;
}

.insert-cancel-button {
    position: relative;
    display: inline;
    float: right;
}

.insert-submit-button {
    position: relative;
    display: inline;
    float: right;
}

.insert-select-insert {
    position: relative;
    display: inline;
}

.insert-custom-button {
    position: relative;
    display: inline;
}

.insert-button-container {
    position: fixed;
    left: 5%;
}

.insert-atom {
    padding: 10px;
    border: 0.2px solid rgb(203, 203, 203);
    border-radius: 5px;
    background-color: white;
    width: 50%;
    margin: auto;
    height: 300px;
    position: relative;
}

.insert-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    backdrop-filter: blur(2px);
}









.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}