node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# production
/build

# testing
/coverage

# next.js
/.next/
/admin-app/.next
/out/


# macOS
.DS_Store

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.local.env

service-account.json
google-services.json